<!DOCTYPE html>
<html lang="zh">

<head>
  <title data-react-helmet="true">404页面好像不在捏...</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/css/404.css">
</head>

<body>
  <div id="root">
    <div class="box-404-wrap" style="background: url(http://api.ayaka.icu/img/url) no-repeat fixed center center;background-size: cover;">
      <div class="box" style="width: 620px; height: 420px; background-color: rgba(10, 180, 220, 0.4);">
        <div class="d-flex flex-column align-items-center">
          <div class="text-wrap">
            <h1 data-t="404" class="h1"><img src="http://api.ayaka.icu/img/count?num=404&max=3" alt="" width="200px"></h1>
          </div>
          <br><br>
          <div class="text-center mt-2" style="font-size: 24px">访问的页面好像不存在...<br>获取你没有权限访问 (*/ω＼*) ...</div>
          <div class="mt-4"><a href="/" role="button" tabindex="0" class="btn btn-primary">返回 api.ayaka.icu</a></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>